<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link  rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}" >
</head>
<body>
    <div class="nav-container"></div>
        <div class="wrapper"></div>
            <nav>
                <ul class="nav-items">
                    <li>
                        <a href="#">Buy a Car</a>
                    </li>
                    <li>
                        <a href="#">Sell Your Car</a>
                    </li>
                    <li>
                        <a href="#">Finance</a>
                    </li>
                    <li>
                        <a href="#">FAQ</a>
                    </li>
                </ul>
            </nav>

    <div class="Log_In">
        <li>
            <a href="#">Log In</a>
        </li>
    </div>

    <div class="Join">
        <li>
            <a href="#">Join</a>
        </li>
    </div>

    <div class = "container">
        <span class="right_car"> Find your right car</span>
        <div class = "Make">
            <select name="Make" id="Make">
                <option value="Volvo">Volvo</option>
                <option value="Saab">Saab</option>
                <option value="Mercedes">Mercedes</option>
                <option value="Audi">Audi</option>
            </select>
        </div>
        <div class = "Model">
            <select name="Model" id="Model"></select>
        </div>
        <div class = "Colour">
            <select name="Colour" id="Colour"></select>
        </div>
        <div class = "Year">
            <select name="Year" id="Year"></select>
        </div>
        <span class= "Make_name">Make</span>
        <span class= "Model_name">Model</span>
        <span class= "Colour_name">Colour</span>
        <span class= "Year_name">Year</span>
        <div class="slidecontainer">
            <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
            <p>Search Cars</p>
        </div>
        <span class = "minvalue">$500</span>
        <span class = "maxvalue">$50,000+</span>
    </div>

    <span class="Cars">Cars</span>
    <span class="Log_In">Log In </span>
    <div class = "menu_bar"></div>
    <div class="cars">
        <img src="./static/images/cars.png" alt="cars">
    </div>
    <div class="banner_image">
        <img src="./static/images/bannar_image.png" alt="banner">
    </div>
    <div class = "Turners_Image">
        <img src="./static/images/Turners.png" alt="Turners not Found">
        <p>Cars</p>
    </div>

    <div class = "Sell">
        <span class = "Sell_and_trade">Sell & Trade</span>
        <span class = "Sell_small_text">Get cash now or trade in!</span>
        <div class = "Sell_round">
            <a href="#">Get Appraisal</a>
        </div>
    </div>
    <div class = "Insure">
        <span class = "Auto_insurance">Auto Insurance</span>
        <span class = "Insure_small_text">Get a quote in 2 minutes!</span>
        <div class = "Insure_round">
            <a href="/third">Get a Quote</a>
        </div>
    </div>
    <div class = "Finance">
        <span class = "Finance_text">Finance</span>
        <span class = "Finance_small_text">We pre-approve in one day!</span>
        <div class = "Finance_round">
            <a href="#">More</a>
        </div>
    </div>

    <span class="Looking_for_something_else">Looking for something else?</span>
    <span class="Vehicle_selection"> We have a big selection of vehicles.</span>
    <span class="See_all">See all</span>
    <div class="Slide_image">
        <img src="./static/images/Group 373.png" alt="Slide">
    </div>
    <span class="Feeling_confident"> Leave feeling confident</span>
    <span class="Trusted_dealer"> Rated NZ most trusted used car dealer in 2021!</span>
    <div class="Porsche_image">
        <img src="./static/images/Porsche.png" alt="Porshe">
    </div>
    <div class="Badge_image">
        <img src="./static/images/Badge.png" alt="Badge">
    </div>
    <span class="Others_saying">See what others are saying...</span>
    <span class="Latest_blogs">Read the latest blogs, vehicle and customer reviews.</span>
    <span class="See_all_2">See all</span>
    <div class="Impreza_img">
        <img src="./static/images/Impreza.png" alt="Impreza">
    </div>
    <div class="Lamborghini_img">
        <img src="./static/images/Lamborghini.png" alt="Lamborghini">
    </div>
    <div class="RX7_img">
        <img src="./static/images/RX7.png" alt="RX7">
    </div>
    <div class="Mustang_img">
        <img src="./static/images/Mustang.png" alt="Mustang">
    </div>
    <div class="Arrows_img">
        <img src="./static/images/Arrows.png" alt="Arrows">
    </div>
    <div class="Background_img">
        <img src="./static/images/Shaded_background.png" alt="background">
    </div>
    <div class="Footer_img">
        <img src="./static/images/Footer.png" alt="Footer">
    </div>
    <script> //Watson assist script
        window.watsonAssistantChatOptions = {
              integrationID: "0d31d61e-a6fb-4603-b1f1-6b4d12f02036", // The ID of this integration.
              region: "au-syd", // The region your integration is hosted in.
              serviceInstanceID: "7884e1ab-410e-4b3d-a080-a631dfb8b05d", // The ID of your service instance.
              onLoad: function(instance) { instance.render(); }
            };
          setTimeout(function(){
            const t=document.createElement('script');
            t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js"
            document.head.appendChild(t);
          });
        </script>
</body>
</html>