<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link  rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style2.css') }}" >
</head>
<body>
    <div class = "Turners_Image">
        <img src="./static/images/Turners.png" alt="Turners not Found">
        <p>Cars</p>
    </div>
    <nav>
        <link  rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style2.css') }}" >
            <div class = "Turners_Image">
        <img src="./static/images/Turners.png" alt="Turners not Found">
        <p>Cars</p>
    </div>
    <div class="nav-container"></div>
    <div class="wrapper"></div>
        <ul class="nav-items">
            <li>
                <a href="#">Buy a Car</a>
            </li>
            <li>
                <a href="#">Sell Your Car</a>
            </li>
            <li>
                <a href="#">Finance</a>
            </li>
            <li>
                <a href="#">FAQ</a>
            </li>
        </ul>
    </nav>

    <div class="Log_In">
        <li>
            <a href="#">Log In</a>
        </li>
    </div>

    <div class="Join">
        <li>
            <a href="#">Join</a>
        </li>
    </div>
    
    <div class="Bar">
        <img src="./static/images/Bar.png" alt="Bar">
    </div>

    <div class = "Box1">
        <span class = "Auto_quote">Instant Auto Qoute</span>
        <span class = "Vehicle_details">Vehicle Details</span>
        <div class = "Box2">
        <span class = "Registration_number" id="help">Registration number</span>
        </div>
    </div>
    <span class= "Dont_have">Don't have it?</span>
    <span class= "Make_model">Pick a make and model</span>
    <button class = "Yes" type="submit" name = "Yes1" value="Yes1" id="Yes1">Yes</button>
    <button class = "No" type="button" name = "No1" value="No1" id = "No1">No</button>
    <input class="Registration_input" type = "text" id = "Registration_input"></label>
    <input class="Park_input" type = "text" id = "Park_input"></label>
    <form method ="post" action="">
        <button class = "Find" type="button" name = "button_a" value="button_a">Find</button>
    </form> 
    <span class= "Car_park">Where is the car usually parked:</span>
    <span class= "Used_business">Is it used for business:</span>
    <div class = "Box3" id = "Box3">
        <span class="Driver_details"> Driver Details (You)</span>
        <span class="Birth_date"> Date of Birth:</span>
        <input class="Birth_date_text" id = "Birth_date" type = "text"></label>
        <span class="Date">Day/Month/Year</span>
        <span class="Gender">Gender</span>
        <form method ="post" action="">
            <button class = "Man" type="button" name="Man" value="Man" id = "Man">Man</button>
        </form>
        <button class = "Woman" type="button" id = "Woman">Woman</button>
        <span class = "Another_policy">Do you have another policy with Turners?
        </span>
        <button class = "Policy_yes" id = "Policy_yes">Yes</button>
        <button class = "Policy_no" id = "Policy_no">No</button>
        <span class = "What_licence">What licence do you have?</span>
        <div class="Licence">
            <select name="Licence" id="Licence">
                <option value="Full-Licence">Full-Licence</option>
                <option value="Restricted">Restriced</option>
                <option value="Learners">Learners</option>
            </select>
        </div>
        <div class="licence">
        <span class="Another_driver">Add another driver?</span>
        </div>
        <button class = "Another_driver_yes" id = "Another_driver_yes">Yes</button>
        <button class = "Another_driver_no" id = "Another_driver_no">No</button>
    </div>
    <div class = "Box4" id="Box4">
        <div class = Dummy_box></div>
        <span class="Our_plans">Our Plans</span>
        <div class="Decide_later">
            <img src="./static/images/Decide_later.png" alt="Decide later">
        </div>
        <div class = "Line"></div>
        <span class = "Selected">You've selected:</span>
        <div class = "Option1"></div>
        <div class = "Option1_color"></div>
        <div class = "Option2"></div>
        <div class = "Option2_color"></div>
        <div class = "Option3"></div>
        <div class = "Option3_color"></div>
        <div class="Check1">
            <input type="checkbox" id="Check1" name="interest" value="music">
        </div>
        <div class="Check2">
            <input type="checkbox" id="Check2" name="interest" value="music">
        </div>
        <div class="Check3">
            <input type="checkbox" id="Check3" name="interest" value="music">
        </div>
        <div class = "Cost1">$30.50</div>
        <div class = "Cost2">$22.50</div>
        <div class = "Cost3">$10.50</div>
        <div class = "Per_fortnight1">Per fortnight</div>
        <div class = "Per_fortnight2">Per fortnight</div>
        <div class = "Per_fortnight3">Per fortnight</div>
        <div class = "Condition1">$60 per month $743 anually </div>
        <div class = "Condition2">$44 per month $510 anually </div>
        <div class = "Condition3">$20 per month $220 anually </div>
        <div class = "More_info1">Comprehensive</div>
        <div class = "More_info2">3rd Party Fire & Theft</div>
        <div class = "More_info3">3rd Party</div>
        <div class = "Paragraph1"> Comprehensive covers your car as well as damadge caused to someone else's car - our broadest plan.</div>
        <div class = "Paragraph2"> Covers fires and theft and any damadge caused to someone else's property</div>
        <div class = "Paragraph3"> Covers you for any damadge caused to someone else's property</div>
        <div class = "Learn_more">
            <img src="./static/images/Learn.png" alt="Learn">
        </div>
        <div class = "Box_selected">
            <div class = "Option_display"></div>
            <div class = "Blue_color"></div>

            <div class = First_selected>
                <div class = "Cost1_copy">$30.50</div>
                <span class = "Per_fortnight1_copy">Per fortnight</span>
                <div class = "Condition1_copy">$60 per month $743 anually </div>
                <div class = "More_info1_copy">Comprehensive</div>
                <div class = "Paragraph1_copy"> Comprehensive covers your car as well as damadge caused to someone else's car - our broadest plan.</div>
                <div class="First_option_display">Comprehensive Plan</div>
                <div class="First_option_cost">$30.50</div>
            </div>

            <div class = "Second_selected">
                <div class = "Cost2_copy">$22.50</div>
                <div class = "Per_fortnight2_copy">Per fortnight</div>
                <div class = "Condition2_copy">$44 per month $510 anually </div>
                <div class = "More_info2_copy">3rd Party Fire & Theft</div>
                <div class = "Paragraph2_copy"> Covers fires and theft and any damadge caused to someone else's property</div>
                <div class="Second_option_display">3rd Party Fire & Theft</div>
                <div class="Second_option_cost">$22.50</div>
            </div>
            
            
            <div class = "Third_selected">
                <div class = "Cost3_copy">$10.50</div>
                <div class = "Per_fortnight3_copy">Per fortnight</div>
                <div class = "Condition3_copy">$20 per month $220 anually </div>
                <div class = "More_info3_copy">3rd Party</div>
                <div class = "Paragraph3_copy"> Covers you for any damadge caused to someone else's property</div>
                <div class="Third_option_display">3rd Party</div>
                <div class="Third_option_cost">$10.00</div>
            </div>

            <div class="Policy_discount">Multiple policy discount:</div>
            <div class="Policy_cost">$0.00</div>
            <div class="Optional_coverages">Optional Coverages:</div>
            <div class="Coverages_cost">$0.00</div>
            <button class = "Buy_now">Buy Now</button>
            <div class = "Background">
                <img src="./static/images/Shaded_background.png" alt="Background">
            </div>
            <div class = "Footer">
                <img src="./static/images/Footer.png" alt="Footer">
            </div>

        </div>
    </div>
    </div>
    <script>
        var yes1 = document.getElementById('Yes1');
        var no1 = document.getElementById("No1");
        var park_input = document.getElementById("Park_input");
        var registration_input = document.getElementById("Registration_input");
        var box3 = document.getElementById('Box3');
        yes1.onclick = function() {
            yes1.style.color= 'white';
            yes1.style.background = '#083F6D';
            no1.style.color = '#083F6D';
            no1.style.background = 'white';
            if ((registration_input.value.length > 0) && (park_input.value.length > 0))
            {
                box3.style.display = 'block';
            }
        }
        no1.onclick = function() {
            no1.style.color = 'white';
            no1.style.background = '#083F6D';
            yes1.style.color = '#083F6D';
            yes1.style.background = 'white';
            if ((registration_input.value.length > 0) && (park_input.value.length > 0))
            {
                box3.style.display = 'block';
            }
        }
        park_input.addEventListener('keyup', function(){
            if (registration_input.value.length > 0) 
            {
                if ((yes1.style.color == 'white') || (no1.style.color == 'white')){
                    box3.style.display = 'block';
                }
            }
            if (park.value.length == 0){
                box3.style.display = 'none';
            }
        });

        registration_input.addEventListener('keyup', function(){
            if (park_input.value.length > 0)  {
                if ((yes1.style.color == 'white') || (no1.style.color == 'white'))
                {
                    box3.style.display = 'block';
                }
            }
            if (registration_input.value.length == 0)  {
                box3.style.display = 'none';
                
            }
        });

    </script>

    <script>
        var woman = document.getElementById('Woman');
        var man = document.getElementById("Man");
        var policy_yes = document.getElementById('Policy_yes');
        var policy_no = document.getElementById("Policy_no");
        var another_driver_yes = document.getElementById("Another_driver_yes");
        var another_driver_no = document.getElementById("Another_driver_no");
        var birth_date = document.getElementById("Birth_date");
        var box4 = document.getElementById("Box4");
        
        woman.onclick = function() {
            woman.style.color= 'white';
            woman.style.background = '#083F6D';
            man.style.color = '#083F6D';
            man.style.background = 'white';
            if ((policy_yes.style.color == 'white') || (policy_no.style.color == 'white'))
                 {
                    if ((another_driver_yes.style.color == 'white') || (another_driver_no.style.color == 'white')){
                        if (birth_date.value.length > 0){
                            box4.style.display = 'block';
                        }
                    }
                 }
        }
        man.onclick = function() {
            man.style.color = 'white';
            man.style.background = '#083F6D';
            woman.style.color = '#083F6D';
            woman.style.background = 'white';
            if ((policy_yes.style.color == 'white') || (policy_no.style.color == 'white'))
                 {
                    if ((another_driver_yes.style.color == 'white') || (another_driver_no.style.color == 'white')){
                        if (birth_date.value.length > 0){
                            box4.style.display = 'block';
                        }
                    }
                 }
        }

        policy_yes.onclick = function() {
            policy_yes.style.color= 'white';
            policy_yes.style.background = '#083F6D';
            policy_no.style.color = '#083F6D';
            policy_no.style.background = 'white';
            if ((woman.style.color == 'white') || (man.style.color == 'white'))
                 {
                    if ((another_driver_yes.style.color == 'white') || (another_driver_no.style.color == 'white')){
                        if (birth_date.value.length > 0){
                            box4.style.display = 'block';
                        }
                    }
                }
        }

        policy_no.onclick = function() {
            policy_no.style.color = 'white';
            policy_no.style.background = '#083F6D';
            policy_yes.style.color = '#083F6D';
            policy_yes.style.background = 'white';
            if ((woman.style.color == 'white') || (man.style.color == 'white'))
                {
                    if ((another_driver_yes.style.color == 'white') || (another_driver_no.style.color == 'white')){
                        if (birth_date.value.length > 0){
                            box4.style.display = 'block';
                        }
                    }
                }
        }

        another_driver_yes.onclick = function() {
            another_driver_yes.style.color= 'white';
            another_driver_yes.style.background = '#083F6D';
            another_driver_no.style.color = '#083F6D';
            another_driver_no.style.background = 'white';
            if ((woman.style.color == 'white') || (man.style.color == 'white'))
                 {
                    if ((policy_yes.style.color == 'white') || (policy_no.style.color == 'white')){
                        if (birth_date.value.length > 0){
                            box4.style.display = 'block';
                        }
                    }
                }
        }
        another_driver_no.onclick = function() {
            another_driver_no.style.color = 'white';
            another_driver_no.style.background = '#083F6D';
            another_driver_yes.style.color = '#083F6D';
            another_driver_yes.style.background = 'white';
            if ((woman.style.color == 'white') || (man.style.color == 'white'))
                 {
                    if ((policy_yes.style.color == 'white') || (policy_no.style.color == 'white')){
                        if (birth_date.value.length > 0){
                            box4.style.display = 'block';
                        }
                    }
                }
        }

        birth_date.addEventListener('keyup', function(){
            if ((woman.style.color == 'white') || (man.style.color == 'white')) {
                 if ((policy_yes.style.color == 'white') || (policy_no.style.color == 'white'))
                 {
                    if ((another_driver_yes.style.color == 'white') || (another_driver_no.style.color == 'white')){
                        box4.style.display = 'block';
                    }
                 }
            }
        });


    </script>

    <script>
        var check1 = document.getElementById('Check1');
        var check2 = document.getElementById('Check2');
        var check3 = document.getElementById('Check3');

        check1.onclick = function() {
            check1.checked = true;
            check2.checked = false;
            check3.checked = false;
        }
        check2.onclick = function() {
            check2.checked = true;
            check1.checked = false;
            check3.checked = false;
        }
        check3.onclick = function() {
            check2.checked = true;
            check1.checked = false;
            check2.checked = false;
        }

    </script>
</body>
</html>