@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.Log_In a{
    width: 100px;
    color: #8A8A8A;
    position: absolute;
    top: 32px;
    left: 1504px;
    font-family: Lato;
    font-weight: Bold;
    font-size: 18px;
    opacity: 1;
    text-align: center;
    z-index: 1;
}

.Join a{
    position: absolute;
    left: 1604px;
    top: 3px;

    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 80px;
    /* or 444% */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.022em;
    z-index: 1;

    color: #0297FF;
}

.Turners_Image {
    position: absolute;
    left: 5.08%;
    right: 71.23%;
    top: 20px;
    bottom: 29.5%;
}

.nav-container {
    position: absolute;
    Height: 62.66px;
    left: 0.0%;
    right: 0.0%;
    top: 67px;
    bottom: -7.91%;

    background: rgba(0, 118, 190, 0.94);
    z-index: 1;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 30%;
    margin-left: 250px
}

.nav-items li {
    list-style: none;
    margin-right:10px;
}

.nav-items li a{
    
    position: absolute;
    height:170px;
    margin-left: 100px;
    margin-right:100px;

    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 20px;
    color: #FFFFFF;

    display: flex;
    align-items: center;
    letter-spacing: -0.022em;

    z-index: 1;
}

.Bar img {
    width: 100%;
}

.Bar {
    position: absolute;
    width: 100%;
    height: 90px;
    left: 0px;
    top: 127px;
}

.Cars {
    position: absolute;
    left: 14.7%;
    right: 72.27%;
    top: 0%;
    bottom: 34.43%;

    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 80px;
    /* identical to box height, or 200% */

    letter-spacing: -0.022em;

    color: #9A9A99;
}

.Personal_details {
    position: absolute;
    width: 343px;
    height: 80px;
    left: 240px;
    top: 379px;

    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 80px;
    /* identical to box height, or 200% */

    display: flex;
    align-items: center;
    letter-spacing: -0.022em;

    color: #000000;
}

.Name{
    position: absolute;
    left:244px;
    top: 469px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 80px;
}

.Address{
    position: absolute;
    left:244px;
    top: 559px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 80px;
}

.Phone{
    position: absolute;
    left:244px;
    top: 649px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 80px;
}

.Email{
    position: absolute;
    left:244px;
    top: 739px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 80px;
}

.Address_box{
    position: absolute;
    width: 580px;
    height: 40px;
    left: 444px;
    top: 575px;

    background: rgba(196, 196, 196, 0.2);
    border-radius: 5px;
}

.Phone_box{
    position: absolute;
    width: 580px;
    height: 40px;
    left: 444px;
    top: 665px;
    
    background: rgba(196, 196, 196, 0.2);
    border-radius: 5px;
}

.Email_box{
    position: absolute;
    width: 580px;
    height: 40px;
    left: 444px;
    top: 755px;
    
    background: rgba(196, 196, 196, 0.2);
    border-radius: 5px;
    border-radius: 5px;
}

.Given_name_box{
    position: absolute;
    width: 281px;
    height: 40px;
    left: 444px;
    top: 485px;
    
    background: rgba(196, 196, 196, 0.2);
    border-radius: 5px;
}

.Family_name_box {
    position: absolute;
    width: 281px;
    height: 40px;
    left: 744px;
    top: 485px;

    background: rgba(196, 196, 196, 0.2);
    border-radius: 5px;
}

.Given_name{
    position: absolute;
    left: 455px;
    top: 460px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    /* identical to box height, or 167% */
    
    display: flex;
    align-items: center;
    letter-spacing: 0.001em;
    
    color: #000000;
}

.Family_name{
    position: absolute;
    left: 755px;
    top: 460px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    /* identical to box height, or 167% */
    
    display: flex;
    align-items: center;
    letter-spacing: 0.001em;
    
    color: #000000;
}

.Payment_plan {
    position: absolute;
    left: 240px;
    top: 885px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 80px;
    /* identical to box height, or 200% */

    display: flex;
    align-items: center;
    letter-spacing: -0.022em;

    color: #000000;
}

.First_payment_box{
    position: absolute;
    width: 199px;
    height: 141px;
    left: 240px;
    top: 1000px;

    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.Second_payment_box{
    position: absolute;
    width: 199px;
    height: 141px;
    left: 520px;
    top: 1000px;

    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.Third_payment_box{
    position: absolute;
    width: 199px;
    height: 141px;
    left: 800px;
    top: 1000px;

    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.First_bar {
    position: absolute;
    width: 199px;
    height: 35.88px;
    left: 240px;
    top: 1000px;

    background: #002844;
    border-radius: 5px 5px 0px 0px;
}

.Second_bar {
    position: absolute;
    width: 199px;
    height: 35.88px;
    left: 520px;
    top: 1000px;

    background: #002844;
    border-radius: 5px 5px 0px 0px; 
}

.Third_bar {
    position: absolute;
    width: 199px;
    height: 35.88px;
    left: 800px;
    top: 1000px;

    background: #002844;
    border-radius: 5px 5px 0px 0px; 
}

.Check1{
    position: absolute;
    width: 21.67px;
    height: 20.06px;
    left: 322px;
    top: 1005px;
    
    background: #FFFFFF;
    border: 2px solid #000000;
    border-radius: 5px;
}

.Check2{
    position: absolute;
    width: 21.67px;
    height: 20.06px;
    left: 602px;
    top: 1005px;

    background: #FFFFFF;
    border: 2px solid #000000;
    border-radius: 5px;
}

.Check3{
    position: absolute;
    width: 21.67px;
    height: 20.06px;
    left: 882px;
    top: 1005px;

    background: #FFFFFF;
    border: 2px solid #000000;
    border-radius: 5px;
}

.Price1{
    position: absolute;
    width: 150px;
    height: 40.02px;
    left: 285px;
    top: 1040px;

    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 20px;
    /* or 56% */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.022em;

    color: #000000;
}

.Price2{
    position: absolute;
    width: 150px;
    height: 40.02px;
    left: 582px;
    top: 1040px;

    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 20px;
    /* or 56% */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.022em;

    color: #000000;
}

.Price3 {
    position: absolute;
    width: 150px;
    height: 40.02px;
    left: 859px;
    top: 1040px;

    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 20px;
    /* or 56% */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.022em;

    color: #000000;
}

.Per_fortnight{
    position: absolute;
    width: 150px;
    height: 40.02px;
    left: 275px;
    top: 1075px;

    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    /* or 56% */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.022em;
}

.Per_month{
    position: absolute;
    width: 150px;
    height: 40.02px;
    left: 565px;
    top: 1075px;

    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    /* or 56% */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.022em;
}

.Per_year{
    position: absolute;
    width: 150px;
    height: 40.02px;
    left: 860px;
    top: 1075px;

    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    /* or 56% */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.022em;
}

.Box1 {
    position: absolute;
    width: 921px;
    height: 629px;
    left: 240px;
    top: 1235px;
    display: none;
}

.Payment_details {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 80px;
    /* identical to box height, or 200% */

    display: flex;
    align-items: center;
    letter-spacing: -0.022em;

    color: #000000;
}

.Name_card{
    position: absolute;
    width: 131px;
    height: 36px;
    left: 0px;
    top: 200px;

    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 80px;
    /* or 333% */

    display: flex;
    align-items: center;
    letter-spacing: -0.022em;

    color: #000000;

}

.Billing_address{
    position: absolute;
    width: 231px;
    height: 36px;
    left: 0px;
    top: 300px;

    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 80px;
    /* or 333% */

    display: flex;
    align-items: center;
    letter-spacing: -0.022em;

    color: #000000;
}

.Card_number{
    position: absolute;
    width: 231px;
    height: 36px;
    left: 0px;
    top: 400px;

    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 80px;
    /* or 333% */

    display: flex;
    align-items: center;
    letter-spacing: -0.022em;

    color: #000000;
}

.Expiry{
    position: absolute;
    width: 131px;
    height: 36px;
    left: 0px;
    top: 500px;

    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 80px;
    /* or 333% */

    display: flex;
    align-items: center;
    letter-spacing: -0.022em;

    color: #000000;
}

.Name_card_bar{
    position: absolute;
    width: 580px;
    height: 40px;
    left: 220px;
    top: 200px;

    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;

    background: rgba(196, 196, 196, 0.2);
    border-radius: 5px;
}

.Billing_address_bar{
    position: absolute;
    width: 580px;
    height: 40px;
    left: 220px;
    top: 295px;

    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    background: rgba(196, 196, 196, 0.2);
    border-radius: 5px;
}

.Card_number_bar{
    position: absolute;
    width: 580px;
    height: 40px;
    left: 220px;
    top: 395px;

    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    background: rgba(196, 196, 196, 0.2);
    border-radius: 5px;
}

.Expiry_bar{
    position: absolute;
    width: 332px;
    height: 40px;
    left: 220px;
    top: 495px;

    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    background: rgba(196, 196, 196, 0.2);
    border-radius: 5px;
}

.CVC {
    position: absolute;
    width: 131px;
    height: 36px;
    left: 594px;
    top: 500px;

    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 80px;
    /* or 333% */

    display: flex;
    align-items: center;
    letter-spacing: -0.022em;

    color: #000000;
}

.CVC_Bar{
    position: absolute;
    width: 136px;
    height: 40px;
    left: 665px;
    top: 495px;

    box-shadow: inset 0px 4px 4px rgba(184, 184, 184, 0.25);
    border-radius: 5px;
    background: rgba(196, 196, 196, 0.2);
    border-radius: 5px;
}

.Credit_card{
    position: absolute;
    top: 140px;
    left: 400px;
    width: 180px;
    height: 40px;

    background: white;
    border-radius: 5px;

    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 80px;
    /* identical to box height, or 444% */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.022em;
    text-align: center;
    vertical-align:middle;

    color: #083F6D;
}

.Bank_transfer{
    position: absolute;
    width: 180px;
    height: 40px;
    top: 140px;
    left: 600px;
    background: #FFFFFF;    
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 80px;
    /* identical to box height, or 444% */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.022em;

    color: #002844;
}

.Future_payments{
    position: absolute;
    width: 231px;
    height: 36px;
    left: 0px;
    top: 600px;

    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 80px;
    /* or 333% */

    display: flex;
    align-items: center;
    letter-spacing: -0.022em;

    color: #000000;
}

.Yes{
    position: absolute;
    width: 180px;
    height: 40px;
    left: 425px;
    top: 590px;

    background: #FFFFFF;
    position: absolute;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.022em;

    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 80px;
    /* identical to box height, or 444% */

    color: #002844;
}

.No{
    position: absolute;
    width: 180px;
    height: 40px;
    left: 630px;
    top: 590px;

    background: white;
    border-radius: 5px;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.022em;

    font-family: Lato;

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 80px;
    /* identical to box height, or 444% */

    color: #073F6D;
}

.Box2{
    position: absolute;
    width: 781px;
    height: 460px;
    left: 240px;
    top: 2000px;
    display: none;
}

.Quote_summary{
    position: absolute;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 80px;
    left: 0px;

    /* identical to box height, or 200% */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.022em;

    color: #000000;
}

.Driver_name{
    position: absolute;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 80px;
    top:75px;
    left:5px;
    /* or 333% */

    display: flex;
    align-items: center;
    letter-spacing: -0.022em;

    color: #000000;
}

.Vehicle_type{
    position: absolute;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 80px;
    top:150px;
    left:5px;
    /* or 333% */

    display: flex;
    align-items: center;
    letter-spacing: -0.022em;

    color: #000000;
}

.Plan{
    position: absolute;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 80px;
    top:225px;
    left:5px;
    /* or 333% */

    display: flex;
    align-items: center;
    letter-spacing: -0.022em;

    color: #000000;
}

.Price{
    position: absolute;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 80px;
    top:300px;
    left:5px;
    /* or 333% */

    display: flex;
    align-items: center;
    letter-spacing: -0.022em;

    color: #000000;
}

.Robert_smith{
    position:absolute;
    top:77px;
    left:300px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 80px;
    /* or 400% */

    display: flex;
    align-items: center;
    letter-spacing: -0.022em;

    color: #000000;
}

.Audi{
    position:absolute;
    top:150px;
    left:300px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 80px;
    /* or 400% */
    
    display: flex;
    align-items: center;
    letter-spacing: -0.022em;
    
    color: #000000;
}

.Plan2{
    position:absolute;
    top: 225px;
    left:300px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 80px;
    /* or 400% */
    
    display: flex;
    align-items: center;
    letter-spacing: -0.022em;
    
    color: #000000;
}

.Price4{
    position:absolute;
    top:318px;
    left:300px;
    width:300px;

    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 80px;
    /* or 400% */
    
    display: flex;
    align-items: center;
    letter-spacing: -0.022em;
    
    color: #000000;
}

.Modify_details{
    position: absolute;
    width: 180px;
    height: 50px;
    left: 430px;
    top: 425px;
    
    background: #FFFFFF;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 31.5px;

    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 80px;
    /* identical to box height, or 364% */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.022em;


    color: #000000;

}

.Process_payments{
    position: absolute;
    width: 182px;
    height: 50px;
    left: 625px;
    top: 425px;
    background: #0076BE;
    border-radius: 31.5px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 80px;
    /* identical to box height, or 364% */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.022em;

    color: #FFFFFF;

}

.Background img{
    Width: 1485px;
    height: 337px;
}

.Background{
    position:absolute;
    top:700px;
}

.Footer{
    position:absolute;
    top:700px;
}

.Box3{
    position:absolute;
    top:1500px; 
    left: 800px;
    display:none;
}

.Redirect
{
    position: absolute;
    width:200px;
    height:63px;
    left:390px;
    top:275px;

    background: #002844;
    border-radius: 31.5px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 80px;
    
    /* identical to box height, or 333% */
    vertical-align: middle;
    text-align: center;
    letter-spacing: -0.022em;

    color: #FFFFFF;
}